
tr:hover {background-color: #00774H}

body{
		background-color: white;
	
	}
	.jumbotron{
		
	}
	.inputartifact{
		
	}
	.navbar-collapse{
		<!--background-color: #6B79DD-->
	}
	
	
.editartifactdata * {
  vertical-align: middle;
}
.jumbotron{
   
   height:80 px;
   
   }
   
#spi-icon{
	
}
.navbar-light{
	margin:0;
}
#searchtype{
	/*padding-left:130px;*/
}